.friendList {
  box-sizing: border-box;
  width: 370px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 15px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.statusOffline,
.statusOnline {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.statusOffline {
  background-color: red;
}

.statusOnline {
  background-color: #44b048;
}

.avatar {
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.name {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: #281f22;
}
